@font-face {
    font-family: 'playfair_display_regular';
    src: url('../font/playfairdisplay-regular-webfont.eot');
    src: url('../font/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'inconsolata_regular';
    src: url('../font/inconsolata-regular-webfont.eot');
    src: url('../font/inconsolata-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/inconsolata-regular-webfont.svg#inconsolataregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntu_light';
    src: url('../font/ubuntu-light-webfont.eot');
    src: url('../font/ubuntu-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ubuntu-light-webfont.svg#ubuntulight') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: 'playfair_display_regular';
	font-size: 14px;
	color: #626262;
}

.navbar {
	text-transform: uppercase;
}

.navbar-brand {
	font-family: 'inconsolata_regular';
	text-transform: uppercase;
	font-size: 30px;
	color: #000000;
}

.navbar-default {
	background-color: #ffffff;
	border-color: #ffffff;
}

.nav>li>a {
	padding: 10px 0px;
	margin-left: 100px;
	margin-right: 0;
}

@media (min-width: 1200px) {
	.container {
    	width: 1062px;
    }
}

nav.navbar.navbar-default .container-fluid {
	padding-right: 0;
    padding-left: 0;
}

img {
	width: 100%;
}

section.container {
	padding: 0 80px;
}

.content-type {
	text-transform: uppercase;
}

h2 {
	font-size: 30px;
}

footer.container {
	padding: 0 80px;
}

footer a {
	text-decoration: none;
	font-size: 14px;
	color: #626262; 
	padding: 0 5px;
}

footer #footer-right {
	float: right;
}