.description {
	margin-top: 100px;
}

.comment {
	text-transform: uppercase;
}

.description p, .item p {
	padding: 15px 0;
}

.comment {
	margin-bottom: 100px;
}

.col-xs-12, .col-sm-12, .col-md-6 {
	padding: 30px;
}

.thumbnail {
	border: 0;
}

section.container-fluid {
	text-align: center;
	background-color: #f0f0f0;
	height: 290px;
	margin-bottom: 70px;
}

section.container-fluid h2 {
	margin-top: 80px;
}

input[type="email"] {
	margin-top: 80px;
	width: 400px;
    padding: 0px 0px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: none;
}

button#send-mail {
    margin-left: -42px;
    border: 0; 
    background: transparent;
}

section#load-more {
	text-align: center;
}

section#load-more button { 
	border: 1px solid #626262;
	background-color: #ffffff;
	padding: 10px 30px;
}