.item {
	border: 1px solid #dddddd;
	border-top-width: 5px;
	float: left;
	width: 33.33%;
	padding: 15px;
}

.item img {
	max-height: 230;
	max-width: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.item img:hover {
	border-radius: 50%;
}
