<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/style2.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

          
</head>
<body ng-controller="RegisterCtrl" ng-app="myApp">
	<div class="container">
		<div id="signup">
			<div class="signup-screen">
				<div class="space-bot text-center">
					<h1>Sign up</h1>
					<div class="divider"></div>
				</div>
				<form class="form-register" method="post" name="register" novalidate action="result.html">
					<div class="input-field col s6">
						<input id="first-name" type="text" class="validate" placeholder="   First Name" required>
					</div>
					<div class="input-field col s6">
						<input id="last-name" type="text" class="validate" placeholder="   Last Name" required>
					</div>
					<div class="input-field col s6">
						<input id="email" type="email" name="email" ng-model="email" class="validate" placeholder="   Email"  required>
					</div>
					<p class="alert alert-danger" ng-show="form-register.email.$error.email">Your email is invalid.</p>
					<div class="input-field col s6">
						<input id="password" type="password" name="password" ng-model="password" ng-minlength='6' class="validate" placeholder="   Password" required>
					</div>
					<p class="alert alert-danger" ng-show="form-register.password.$error.minlength || form.password.$invalid">Your password must be at least 6 characters.</p>
					<div class="space-top text-center">
						<button ng-disabled="form-register.$invalid" class="waves-effect waves-light btn done">
							<i class="material-icons left">done</i> Done
						</button>
						<button type="button" class="waves-effect waves-light btn cancel">
							<i class="material-icons left">clear</i>Cancel
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script type="text/javascript" src="js/javascripts.js"></script>
</body>
</html>